.beerdetail {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: linear-gradient(to bottom right, #ceeaf3, #ffdbbd);
  box-sizing: border-box;
  padding-bottom: 50px;
  height: auto;
  padding: 20px;
}

.hr {
  margin-bottom: 80px;
}

.textblock {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.textcontent {
  width: 70%;
  margin-bottom: 5px;
 
}