form {
  display: flex;
  flex-direction: column;
}

.editbeer {
  padding: 50px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #000000, #60544c);
}

.comment {
  height: 150px;
  text-align: top;
}

input {
  display: inline-block;
}

.textblock {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.849);
  color: black;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

.btn1 {
  border-radius: 8px;
}
