form {
  display: flex;
  flex-direction: column;
}


.editbeer{
  padding: 50px;
  height: 100%;
  width: 100%;
}

.comment{
  height: 150px;
  text-align: top;
  
}

input{
  display: inline-block;
}