.beercard {
  width: 250px;
  height: 300px;
  margin-right: 8px;
  margin-top: 8px;
  border: 4px solid rgba(153, 144, 94, 0.525);
  border-radius: 20px;
  padding: 15px;
  background-color: white;
  transition: color 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
  box-shadow: inset 0 0 0 0 #ffe08c;
}

.beercard:hover {
  box-shadow: inset 0 -260px 0 0 #f7c02a;
  color: black;
}

.cardimg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 150px;
  height: 150px;
  margin-right: 8px;

  border: 2px solid white;
  border-radius: 20px;
  object-fit: contain;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card {
  text-decoration: none;
}
