.beerlist {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  /* padding: 20px; */
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-image: linear-gradient(to bottom right, #000000, #60544c);
  height: auto;
}

.title {
  background-color: #f7c02a;
  /* height: auto; */
  color: black;

  /* justify-content: center; */
  align-self: center;
  border-bottom: solid 3px #808080;
  text-shadow: 0 0 3px #808080;
  width: 100%;
}

.beerlistcard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  margin: 10px;
  /* text-decoration: none; */
}
